@model Merchello.FastTrack.Models.Payment.PayTracePaymentModel
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers.Payment;
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui
@using ClientDependency.Core;
@using ClientDependency.Core.Mvc;

@* S6 PayTrace JS Front-end provider, not for use with Redirect provider *@

@{

	// PayTrace payment method requires a client-side encryption library
	Html.RequiresJs(new JavascriptFile("https://api.paytrace.com/assets/e2ee/paytrace-e2ee.js") { ForceProvider = "HeadJS" });

	Model.SuccessRedirectUrl = ExampleUiHelper.Content.GetReceipt().Url;
	string encrypt = "pt-encrypt"; // "pt-encrypt" class is the binder for sensitive data fields
	string formId = "pt-form";
}

<h3 class="subheader">PayTrace</h3>

@*
	PayTrace
	This script tag binds the form's submit event
	Do this first, or wrap in a try/catch to ensure the form is never un-hooked
	Then set the key from an AJAX call
*@
<script>

        $(document).ready(function() {
			paytrace.hookFormSubmit('#@formId');
        	paytrace.setKeyAjax('/smo_dev_public_key.pem');
        });
</script>
@using (Html.BeginUmbracoForm<PayTracePaymentController>("Process", new { area = "FastTrack" }, new { @id = @formId }))
{

	@Html.AntiForgeryToken()
	@Html.HiddenFor(x => x.SuccessRedirectUrl)

	<div class="form-group">
		@Html.LabelFor(x => x.OrderNumber)
		@Html.TextBoxFor(x => x.OrderNumber, new { @class = "form-control @encrypt" })
		@Html.ValidationMessageFor(x => x.OrderNumber)
	</div>
		<div class="form-group">
			<label class="control-label">Credit Card Number</label>
			@Html.TextBoxFor(x => x.CreditCard.CcNumber, new { @class = "form-control @encrypt" })
			@Html.ValidationMessageFor(x => x.CreditCard.CcNumber)
		</div>
		<div class="form-group">
			<label class="control-label">CSC Code</label>
			@Html.TextBoxFor(x => x.CreditCard.CcCsc, new { @class = "form-control @encrypt" })
			@Html.ValidationMessageFor(x => x.CreditCard.CcCsc)
		</div>

		@*<a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.PaymentMethod).Url" class="btn btn-default">Back</a>*@
		@Html.Partial("_RequireJsSubmitBtn", Model)

}